---
layout: null
sitemap: false
---

// $body-background-color: #2B2E31; // original
$body-background-color: #FFFFFF;

$content-max-width: 800px;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";

header.main-nav > ul {
  margin-bottom: 30px;
}

.top-level > .inner-nav {
  display: none;
  margin-left: 20px;
}

.has-children > ul {
  display: none;
}

.has-children.open > ul {
  display: block;
}

.nav-arrow {
  display: none;
  position: relative;
  width: 12px;
  line-height: 1.5;
  cursor: pointer;
}

.no-children > .nav-arrow {
  display: none;
}

.has-children > .nav-arrow {
  display: inline-block;
}

.nav-arrow:before {
  /*
  position: absolute;
  left: 50%;
  top: 50%;
  */
  display: block;
  content: "";
  margin: -.25em 0 0 -.4em;

  width: .5em;
  height: .5em;
  border-right: .15em solid #3f4657;
  border-top: .15em solid #3f4657;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.nav-item.open .nav-arrow:before {
  margin-left: -.25em;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.no-children {
  margin-left: 20px;
}

.inner-nav > .no-children {
  margin-left: 18px;
}

.inner-nav-arrow {
  display: none;
  position: relative;
  width: 12px;
  line-height: 1.5;
  cursor: pointer;
}

.no-children > .inner-nav-arrow {
  display: none;
}

.has-children > .inner-nav-arrow {
  display: inline-block;
}

.inner-nav-arrow:before {
  /*
  position: absolute;
  left: 50%;
  top: 50%;
  */
  display: block;
  content: "";
  margin: -.25em 0 0 0em;

  width: .3em;
  height: .3em;
  border-right: .10em solid #3f4657;
  border-top: .10em solid #3f4657;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.nav-item.open > .inner-nav-arrow:before {
  margin-top: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.content h1 svg.anchor,
.content h2 svg.anchor,
.content h3 svg.anchor,
.content h4 svg.anchor {
  margin-left: 10px;
  visibility: hidden;
}

.content h1:hover svg.anchor,
.content h2:hover svg.anchor,
.content h3:hover svg.anchor,
.content h4:hover svg.anchor {
  visibility: visible;
}

.inner-nav > li.nav-item > ul {
  margin-top: 10px;
}

.nav-item.inner {
  margin-left: 20px;
}

img.center-image {
  margin: 0 auto;
  display: block;
}